extends ../layout/head

block content
    //- style
    //-     | .jumbotron{
    //-     |   background-color: #f00;  
    //-     | }
    .container
        .jumbotron(style='padding:10px ; background-color: #F1F3F4; border-radius:7px')
            h1 Datos de la consulta
            table
                tr
                    td
                        b Nombre
                    td
                        = data.name
                tr
                    td
                        b Email
                    td
                        = data.email
                tr
                    td
                        b Consulta
                    td
                        = data.consultation

