extends ../layout/head

block content
    .container.pt-5
        .row
            //  FORM 
            .col-md-4
                h2 Crear Recomendación
                .card
                    .card-body
                        form(action='/recomendations' method='post')
                            .form-group
                                //- label(for='i1') Recomendación
                                textarea.form-control#i1(name="recomendation", cols="30", rows="5" placeholder='Escribe aquí tu recomendación.' required)
                            button.btn.btn-block.btn-primary(type='submit') Insertar
            //TABLE 
            .col-md-8
                each recomendation in recomendations
                    .card.mt-2.mb-2
                        .card-body
                            span.float-right.ml-2
                                a(href="/recomendations/delete/"+recomendation._id) 
                                    ion-icon( style='font-size:20px' name='trash')
                            span.float-right
                                a(href="/recomendations/edit/"+recomendation._id) 
                                    ion-icon( style='font-size:20px' name='create')  
                            = recomendation.recomendation      
                        .card-body.font-italic.text-muted
                            = moment(recomendation.createdAt).format('dddd, D {1} MMMM {1} YYYY').replace('{1}','de').replace('{1}','de')
                